div.header {
    font-size: 48pt;
    font-family: Comic sans-serif, serif;
    transition: 0.8s;
    border: black double 10px;
    background-color: darkred;
    padding: 10px;
    text-align: center;
}
div.header:hover {
    transform: scale(1.2);
}

div.gradient {
    height: 100px;
    background-image: linear-gradient(darkred, gray);
}

